* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 300px;
    width: 300px;
}

.row-container {
    display: flex;
}

.item {
    border: 1px solid red ;
    padding: 5px;
}

.blue {
    background-color: lightblue;
}